[submodule "www/custom_ui/button-card"]
	path = www/custom_ui/button-card
	url = https://github.com/kuuji/button-card.git
[submodule "www/custom_ui/custom-lovelace"]
	path = www/custom_ui/custom-lovelace
	url = https://github.com/ciotlosm/custom-lovelace.git
[submodule "www/custom_ui/vertical-stack-in-card"]
	path = www/custom_ui/vertical-stack-in-card
	url = https://github.com/custom-cards/vertical-stack-in-card.git
[submodule "www/custom_ui/slider-entity-row"]
	path = www/custom_ui/slider-entity-row
	url = https://github.com/thomasloven/lovelace-slider-entity-row.git
[submodule "www/custom_ui/tracker-card"]
	path = www/custom_ui/tracker-card
	url = https://github.com/custom-cards/tracker-card.git
[submodule "custom_components/dreamscreen"]
	path = custom_components/dreamscreen
	url = https://github.com/GregoryDosh/Home-Assistant-DreamScreen-Service.git
	branch = master