[submodule "www/custom-ui/button-card"]
	path = www/custom-ui/button-card
	url = https://github.com/kuuji/button-card.git
[submodule "www/custom-ui/custom-lovelace"]
	path = www/custom-ui/custom-lovelace
	url = https://github.com/ciotlosm/custom-lovelace.git
[submodule "www/custom-ui/mini-media-player"]
	path = www/custom-ui/mini-media-player
	url = https://github.com/kalkih/mini-media-player.git
[submodule "www/custom-ui/vertical-stack-in-card"]
	path = www/custom-ui/vertical-stack-in-card
	url = https://github.com/custom-cards/vertical-stack-in-card.git
[submodule "www/custom-ui/slider-entity-row"]
	path = www/custom-ui/slider-entity-row
	url = https://github.com/thomasloven/lovelace-slider-entity-row.git
[submodule "www/custom-ui/mini-graph-card"]
	path = www/custom-ui/mini-graph-card
	url = https://github.com/kalkih/mini-graph-card.git
[submodule "www/custom-ui/tracker-card"]
	path = www/custom-ui/tracker-card
	url = https://github.com/custom-cards/tracker-card.git
