!/.gitignore
!/.travis.yml

._*
*.conf
*.crt
*.csr
*.db
*.db-journal
*.db-shm
*.db-wal
*.key
*.log
*.pickle
*.pid
*.pyc
*.sqlite
*.txt
*.xml
*.xsd

# system folders
deps
lib
ozw_config

# folders with sensitive data
/icloud/*
tts
www/photos
www/custom_ui
zone

# files with sensitive data
ip_bans.yaml
known_devices.yaml
secrets.yaml
.uuid
