!/.gitignore
!/.stubs/

.ha_run.lock
._*
*.conf
*.crt
*.csr
*.db
*.db-journal
*.db-shm
*.db-wal
*.key
*.log
*.log.*
*.pickle
*.pid
*.pyc
*.sqlite
*.txt
*.xml
*.xsd

# system folders
.cloud
.storage
deps

# hacs folders
custom_components
# themes
www/community/

# folders with sensitive data
/image
/tts
zigbee2mqtt
www/calendars
www/mail_and_packages
www/media/ha-bambulab

# files with sensitive data
.ps4-games*
/secrets.yaml
/google_cloud.json
govee_learning.yaml
ip_bans.yaml

# files that are not needed
custom_icons/iconify-icon-sets-master.zip
