[submodule "www/lovelace/custom-lovelace"]
	path = www/lovelace/custom-lovelace
	url = https://github.com/ciotlosm/custom-lovelace.git
  branch = master
[submodule "custom_components/dreamscreen"]
	path = custom_components/dreamscreen
	url = https://github.com/GregoryDosh/Home-Assistant-DreamScreen-Service.git
	branch = master
