!/.gitignore
!/.travis.yml
!/.stubs/

._*
*.conf
*.crt
*.csr
*.db
*.db-journal
*.db-shm
*.db-wal
*.key
*.log
*.log.*
*.pickle
*.pid
*.pyc
*.sqlite
*.txt
*.xml
*.xsd

# system folders
.cloud
.storage
deps

# folders with sensitive data
.history
/icloud/*
/tts
www/photos

# files with sensitive data
/secrets.yaml
google_cloud.json
ip_bans.yaml
known_devices*
.ps4-games*
custom_components/mail_and_packages/images/**/*.gif
custom_components/mail_and_packages/images/**/*.jpg
