- id: '1606378011687'
  alias: XMas Lights On
  description: ''
  trigger:
  - platform: sun
    event: sunset
    offset: -00:20:00
  condition:
  - condition: time
    before: '23:30:00'
  action:
  - service: switch.turn_on
    data: {}
    entity_id: switch.xmas_light
  mode: single
- id: '1606378068231'
  alias: XMas Lights Off
  description: ''
  trigger:
  - platform: time
    at: '22:30:00'
  condition: []
  action:
  - service: switch.turn_off
    data: {}
    entity_id: switch.xmas_light
  mode: single
- id: '1608330827307'
  alias: XMas Tree On
  description: ''
  trigger:
  - platform: time
    at: 07:00:00
  condition: []
  action:
  - service: light.turn_on
    data: {}
    entity_id: light.xmas_tree
  mode: single
- id: '1608330870425'
  alias: XMas Tree Off
  description: ''
  trigger:
  - platform: time
    at: '21:30:00'
  condition: []
  action:
  - service: light.turn_off
    data: {}
    entity_id: light.xmas_tree
  mode: single
