---
# Home Assistant configuration!
#
# This system is modular and differently structured compared to other
# configurations found online.
#
# Each file does 1 thing only, for the most part. Simple one-line integration
# files will go here whereas larger integration files will go into packages.
#
# The configuration.yaml is only used to bootstrap the system.
#
homeassistant:
  # Load packages
  packages: !include_dir_named packages

  # Allows customizing individual entities
  customize: !include_dir_merge_named customize/entity

  # Allows customizing all entities in a domain
  customize_domain: !include_dir_merge_named customize/domain

  # Allows customizing entities based on a matching pattern
  customize_glob: !include_dir_merge_named customize/glob

  allowlist_external_dirs:
    - /config

http:
  use_x_forwarded_for: true
  trusted_proxies: !secret http_trusted_proxies

# Loads default set of integrations. Do not remove.
default_config:

# Load frontend themes from the themes folder
frontend:
  # We can define additional/custom themes for the frontend here.
  themes: !include_dir_merge_named themes
  extra_module_url:
    # https://github.com/thomasloven/lovelace-card-mod
    - /hacsfiles/lovelace-card-mod/card-mod.js?hacstag=190927524410
    # https://github.com/Nerwyn/material-you-utilities
    - /hacsfiles/material-you-utilities/material-you-utilities.min.js

automation: !include automations.yaml
script: !include scripts.yaml
script split: !include_dir_merge_named scripts
scene: !include scenes.yaml

# Entities
group: !include_dir_merge_named entities/group
input_select: !include_dir_merge_named entities/input_select
media_player: !include_dir_list entities/media_player
mqtt:
  binary_sensor: !include_dir_list entities/mqtt/binary_sensor
  sensor: !include_dir_list entities/mqtt/sensor
notify: !include_dir_list entities/notify
rest_command: !include_dir_merge_named entities/rest_command
sensor: !include_dir_list entities/sensor
shell_command: !include_dir_merge_named entities/shell_command
switch: !include_dir_list entities/switch
template: !include_dir_list entities/template
tts: !include_dir_list entities/tts
utility_meter: !include_dir_merge_named entities/utility_meter

wake_on_lan:
