homeassistant:
  name: Home
  latitude: !secret homeassistant_latitude
  longitude: !secret homeassistant_longitude
  elevation: !secret homeassistant_elevation
  unit_system: imperial
  time_zone: !secret homeassistant_time_zone
  customize: !include customize.yaml
  customize_glob: !include_dir_merge_named customize

http: !include configuration/http.yaml

# discovery:

hassio:
frontend:
  javascript_version: latest
  extra_html_url:
    - /local/custom_ui/state-card-custom-ui.html
config:
updater:

conversation:

cover: !include configuration/cover.yaml
google_assistant: !include configuration/google_assistant.yaml
history:
# influxdb: !include configuration/influxdb.yaml
logbook: !include configuration/logbook.yaml
logger: !include configuration/logger.yaml
notify: !include configuration/notify.yaml
recorder: !include configuration/recorder.yaml
remote: !include configuration/remote.yaml
tts: !include configuration/tts.yaml
zwave: !include configuration/zwave.yaml

sun:

group: !include_dir_merge_named group
# input_boolean: !include_dir_merge_named input_boolean
input_select: !include_dir_merge_named input_select
script: !include_dir_merge_named script
# shell_command: !include_dir_merge_named shell_command

automation: !include automations.yaml
automation old: !include_dir_merge_list automation
# binary_sensor: !include_dir_merge_list binary_sensor
camera: !include_dir_merge_list camera
device_tracker: !include_dir_merge_list device_tracker
media_player: !include_dir_merge_list media_player
# scene: !include_dir_merge_list scene
sensor: !include_dir_merge_list sensor
# switch: !include_dir_merge_list switch

ecobee:
  api_key: !secret ecobee_api_key
climate:
  platform: ecobee

emulated_hue:
  expose_by_default: false

usps:
  username: !secret usps_username
  password: !secret usps_password

# ifttt:
#   key: !secret ifttt_key
