---
# Home Assistant configuration!
#
# My system is very modular and very differently structured
# compared to other configurations you'll find online.
#
# Basically, each file does 1 thing only.
#
# The configuration.yaml is only used to bootstrap the system.
#
homeassistant:
  # Load packages
  packages: !include_dir_named integrations

  # Specify auth providers
  auth_providers:
    - type: homeassistant
    # List of trusted networks, consisting of IP addresses or networks,
    # that are allowed to bypass password protection when accessing
    # Home Assistant.
    - type: trusted_networks
      trusted_networks: !secret http_trusted_networks

  media_dirs:
    sounds: /config/www/sounds
