---
# Home Assistant configuration!
#
# My system is very modular and very differently structured
# compared to other configurations you'll find online.
#
# Basically, each file does 1 thing only.
#
# The configuration.yaml is only used to bootstrap the system
# and contains some minimal, but vital, settings.
#
homeassistant:
  # Name of this Home Assistant instance... I've tried to be original... ;)
  name: Home

  # Location required to calculate the time the sun rises and sets
  latitude: !secret zone_home_latitude
  longitude: !secret zone_home_longitude

  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret zone_home_elevation

  # Metric for Metric, imperial for Imperial
  unit_system: imperial

  # Pick yours from here:
  # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: !secret zone_home_time_zone

  # Load packages
  packages: !include_dir_named packages

  # Specify auth providers
  auth_providers:
    - type: homeassistant
    # List of trusted networks, consisting of IP addresses or networks,
    # that are allowed to bypass password protection when accessing
    # Home Assistant.
    - type: trusted_networks
      trusted_networks: !secret http_trusted_networks

# The person component allows to connect device tracker entities to one or more
# person entities.
# This is in configuration.yaml because it errors when added as a package.
#
# https://www.home-assistant.io/components/person/
#
person:
  - name: !secret name_user1
    id: user1
    device_trackers:
      - device_tracker.oneplus_6

  - name: !secret name_user2
    id: user2
    device_trackers:
      - device_tracker.galaxys9

  - name: !secret name_user3
    id: user3
    device_trackers:
      - device_tracker.lg_v30
