{# UTILITY MACROS #}

{#
  Generate a friendly list of entity names.
  Accepts a list of entity objects or Entity IDs.
#}
{%- macro get_friendly_names(entity_list) -%}
  {% for entity in entity_list %}
    {% if entity is string %}
      {% set name = state_attr(entity, "friendly_name") %}
    {% else %}
      {% set name = entity.attributes.friendly_name %}
    {% endif %}
    {{ name }}{{ ', ' if loop.length > 2 and not loop.last else ' ' }}{{ 'and ' if loop.length > 1 and loop.revindex0 == 1 }}
  {% endfor %}
{%- endmacro -%}

{#
  Converts various "true" states into a boolean true or false.
#}
{%- macro truthify(state) -%}
  {{ state in ['on', 'true', 'open'] }}
{%- endmacro -%}
