{# VARIABLES MACROS #}

{#
  Person <> Device mapping
#}
{% set person_device_map = {
  'joshua': [
    {
      'person': 'person.joshua',
      'notify': 'notify.mobile_app_pixel_10_joshua'
    }
  ],
  'amy': [
    {
      'person': 'person.amy',
      'notify': 'notify.mobile_app_pixel_10_amy'
    }
  ],
  'ethan': [
    {
      'person': 'person.ethan',
      'notify': 'notify.mobile_app_ipad_ethan'
    }
  ],
  'emma': [
    {
      'person': 'person.emma',
      'notify': 'notify.mobile_app_ipad_emma'
    }
  ],
  'parents': [
    {
      'person': 'person.joshua',
      'notify': 'notify.mobile_app_pixel_10_joshua'
    },
    {
      'person': 'person.amy',
      'notify': 'notify.mobile_app_pixel_10_amy'
    }
  ],
  'kids': [
    {
      'person': 'person.ethan',
      'notify': 'notify.mobile_app_ipad_ethan'
    },
    {
      'person': 'person.emma',
      'notify': 'notify.mobile_app_ipad_emma'
    }
  ],
  'all': [
    {
      'person': 'person.joshua',
      'notify': 'notify.mobile_app_pixel_10_joshua'
    },
    {
      'person': 'person.amy',
      'notify': 'notify.mobile_app_pixel_10_amy'
    },
    {
      'person': 'person.ethan',
      'notify': 'notify.mobile_app_ipad_ethan'
    },
    {
      'person': 'person.emma',
      'notify': 'notify.mobile_app_ipad_emma'
    }
  ]
} %}

{#
  Android TV Source
#}
{% set androidtv_app_id =
  {
    "com.spocky.projengmenu": "Home",
    "com.google.android.backdrop": "Screensaver",
    "com.turner.cnvideoapp": "Cartoon Network",
    "com.crunchyroll.crunchyroid": "Crunchyroll",
    "com.future.HappyKids": "HappyKids",
    "org.jellyfin.androidtv": "Jellyfin",
    "com.github.damontecres.wholphin": "Wholphin",
    "com.netflix.ninja": "Netflix",
    "org.pbskids.video": "PBS Kids",
    "com.plexapp.android": "Plex",
    "com.amazon.amazonvideo.livingroom": "Prime Video",
    "org.smarttube.stable": "SmartTube",
    "com.spotify.tv.android": "Spotify",
    "com.google.android.youtube.tvkids": "YouTube Kids",
    "com.google.android.youtube.tv": "YouTube",
    "tv.twitch.android.viewer": "Twitch",
    "off": "Off"
  }
%}

{#
  Denon Sound Modes
#}
{% set sound_modes_denon =
  {
    "ALL ZONE STEREO": "All Zone Stereo",
    "AURO3D": "Auro3D",
    "AUTO": "Auto",
    "DIRECT": "Direct",
    "DOLBY DIGITAL": "Dolby Digital",
    "DTS SURROUND": "DTS Surround",
    "GAME": "Game",
    "JAZZ CLUB": "Jazz Club",
    "MATRIX": "Matrix",
    "MCH STEREO": "MCh Stereo",
    "MONO MOVIE": "Mono Movie",
    "MOVIE": "Movie",
    "MUSIC": "Music",
    "PURE DIRECT": "Pure Direct",
    "ROCK ARENA": "Rock Arena",
    "STANDARD": "Standard",
    "STEREO": "Stereo",
    "VIDEO GAME": "Video Game",
    "VIRTUAL": "Virtual",
    "off": "Off"
  }
%}

{#
  Samsung Sound Modes
#}
{% set sound_modes_samsung =
  {
    "standard": "Standard",
    "surround": "Surround",
    "game": "Gaming",
    "adaptive sound": "Adaptive Sound",
    "off": "Off"
  }
%}

{#
  Yamaha Sound Modes
#}
{% set sound_modes_yamaha =
  {
    "2ch_stereo": "2Ch Stereo",
    "7ch_stereo": "MCh Stereo",
    "action_game": "Action Game",
    "adventure": "Adventure",
    "bottom_line": "Bottom Line",
    "cellar_club": "Cellar Club",
    "chamber": "Chamber",
    "drama": "Drama",
    "mono_movie": "Mono Movie",
    "munich": "Munich",
    "music_video": "Music Video",
    "roleplaying_game": "Roleplaying Game",
    "roxy_theatre": "Roxy Theatre",
    "sci-fi": "Sci-Fi",
    "spectacle": "Spectacle",
    "sports": "Sports",
    "standard": "Standard",
    "straight": "Straight",
    "surr_decoder": "Surround",
    "vienna": "Vienna",
    "off": "Off"
  }
%}

{#
  Holiday light colors
#}
{%- set holiday_colors =
  {
    "no_holiday": {
      "match": [
          255,
          199,
          125,
          245
      ]
    },
    "patriotic": {
      "red": [
          255,
          0,
          0,
          0
      ],
      "blue": [
          0,
          0,
          255,
          0
      ],
      "white": {
          "color_temp_kelvin": 3800
      }
    },
    "valentines": {
      "red": [
          255,
          0,
          0,
          0
      ],
      "light_pink": [
          228,
          131,
          151,
          0
      ]
    },
    "st_patricks_day": {
      "green": [
          9,
          148,
          65,
          0
      ],
      "gold": [
          217,
          223,
          29,
          0
      ]
    },
    "easter": {
      "pink": [
          255,
          0,
          192,
          0
      ],
      "purple": [
          192,
          3,
          255,
          0
      ],
      "teal": [
          0,
          255,
          254,
          0
      ]
    },
    "memorial_day": {
      "red": [
          255,
          0,
          0,
          0
      ],
      "blue": [
          0,
          0,
          255,
          0
      ],
      "white": {
          "color_temp_kelvin": 3800
      }
    },
    "independence_day": {
      "red": [
          255,
          0,
          0,
          0
      ],
      "blue": [
          0,
          0,
          255,
          0
      ],
      "white": {
          "color_temp_kelvin": 3800
      }
    },
    "halloween": {
      "orange": [
          247,
          95,
          28,
          0
      ],
      "purple": [
          136,
          30,
          228,
          0
      ]
    },
    "veterans_day": {
      "red": [
          255,
          0,
          0,
          0
      ],
      "blue": [
          0,
          0,
          255,
          0
      ],
      "white": {
          "color_temp_kelvin": 3800
      }
    },
    "christmas": {
      "red": [
          179,
          0,
          12,
          0
      ],
      "green": [
          0,
          179,
          44,
          0
      ]
    },
    "thanksgiving": {
      "yellow": [
          241,
          185,
          48,
          0
      ],
      "autumn": [
          181,
          71,
          48,
          0
      ],
      "lime": [
          138,
          151,
          72,
          0
      ]
    }
  }
%}
