{# VARIABLES MACROS #}

{#
  Android TV Source
  The result of this needs to be converted using from_json.
#}
{% macro androidtv() %}
  {{ {
    "com.spocky.projengmenu": "Home",
    "com.google.android.backdrop": "Screensaver",
    "com.amazon.amazonvideo.livingroom": "Amazon",
    "com.crunchyroll.crunchyroid": "Crunchyroll",
    "com.disney.datg.videoplatforms.android.watchdc": "DisneyNow",
    "com.hulu.livingroomplus": "Hulu",
    "com.netflix.ninja": "Netflix",
    "org.pbskids.video": "PBS Kids",
    "com.plexapp.android": "Plex",
    "com.teamsmart.videomanager.tv": "SmartTube",
    "com.spotify.tv.android": "Spotify",
    "com.google.android.youtube.tvkids": "YouTube Kids",
    "com.google.android.youtube.tv": "YouTube",
    "tv.twitch.android.viewer": "Twitch",
    "off": "Off"
  } | to_json }}
{% endmacro %}

{#
  Denon Sound Modes
  The result of this needs to be converted using from_json.
#}
{% macro denon() %}
  {{ {
    "ALL ZONE STEREO": "All Zone Stereo",
    "AURO3D": "Auro3D",
    "AUTO": "Auto",
    "DIRECT": "Direct",
    "DOLBY DIGITAL": "Dolby Digital",
    "DTS SURROUND": "DTS Surround",
    "GAME": "Game",
    "JAZZ CLUB": "Jazz Club",
    "MATRIX": "Matrix",
    "MCH STEREO": "MCh Stereo",
    "MONO MOVIE": "Mono Movie",
    "MOVIE": "Movie",
    "MUSIC": "Music",
    "PURE DIRECT": "Pure Direct",
    "ROCK ARENA": "Rock Arena",
    "STANDARD": "Standard",
    "STEREO": "Stereo",
    "VIDEO GAME": "Video Game",
    "VIRTUAL": "Virtual",
    "off": "Off"
  } | to_json }}
{% endmacro %}

{#
  Yamaha Sound Modes
  The result of this needs to be converted using from_json.
#}
{% macro yamaha() %}
  {{ {
    "2ch_stereo": "2Ch Stereo",
    "7ch_stereo": "MCh Stereo",
    "action_game": "Action Game",
    "adventure": "Adventure",
    "bottom_line": "Bottom Line",
    "cellar_club": "Cellar Club",
    "chamber": "Chamber",
    "drama": "Drama",
    "mono_movie": "Mono Movie",
    "munich": "Munich",
    "music_video": "Music Video",
    "roleplaying_game": "Roleplaying Game",
    "roxy_theatre": "Roxy Theatre",
    "sci-fi": "Sci-Fi",
    "spectacle": "Spectacle",
    "sports": "Sports",
    "standard": "Standard",
    "straight": "Straight",
    "surr_decoder": "Surround",
    "vienna": "Vienna",
    "off": "Off"
  } | to_json }}
{% endmacro %}
