/**
 * Animations
 */

/* Fade */
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

/* Breathing */
@keyframes breathing {
  0% { transform: scale(1); }
  25% { transform: scale(0.6); }
  60% { transform: scale(3); }
  100% { transform: scale(1); }
}

/* SVG shapes */

svg, svg * {
  /* vector-effect: non-scaling-stroke !important; */
  pointer-events: all !important;
  transition: fill 1.5s ease, stroke 1.5s ease;
}

/* Visibility */

.layer-visible {
}

.layer-hidden {
  display: none;
}

/* Static Text */

.static-text {
  font-family: var(--paper-font-title_-_font-family);
  font-weight: bold;
  fill: #ffffa6;
}

.danger > tspan {
  fill: #a94442 !important;
}
.warning > tspan {
  fill: #e5a00d !important;
}
.normal > tspan {
  fill: #d4ff2a !important;
}
