# Zanix's Smart Home

| zanix/home-assistant-config | Home Assistant Community |
| :---: | :---: |
| [![Home Assistant Version][ha-version-shield]][ha-version] [![Github Action Status][github-build-status-shield]][github-build-status] | [![Home Assistant Community Forum][forum-shield]][forum] |
| [![Last Commit][github-last-commit]][github-master] [![GitHub Activity][commits-shield]][commits] | [![Discord][discord-shield]][discord] |

This is my Home Assistant Configuration created for use with the [Home Assistant OS](https://www.home-assistant.io/docs/installation/docker/)
version of [Home Assistant][home-assistant] running on an Intel NUC5i5MYHE.

If you want to back up your own Home Assistant configuration to GitHub, follow [this guide](https://community.home-assistant.io/t/sharing-your-configuration-on-github/195144).

## Software

<details><summary>{{ addons | count }} Add-ons</summary>
{% if addons | count > 0 %}
{%- for addon in addons %}
- {{ addon.name }}
{%- endfor %}

---

</details>

## Technical Details

Description    | Value
-------------- | --
All Entities   | {{ states | count }}
Sensors        | {{ states.sensor | count }}
Binary Sensors | {{ states.binary_sensor | count }}
Lights         | {{ states.light | count }}
Switches       | {{ states.switch | count }}

<details><summary>Stock Integrations</summary>

Since some integrations can only be enabled from within the UI, here is a list of integrations that are enabled via the Integrations UI on my Home Assistant.

### [AdGuard](https://www.home-assistant.io/integrations/adguard)

The AdGuard integration allows you to control and monitor your AdGuard Home instance.

### [AirNow](https://www.home-assistant.io/integrations/airnow)

The airnow integration uses the AirNow web service as a source for air quality data for your location

### [Android Debug Bridge](https://www.home-assistant.io/integrations/androidtv)

The Android Debug Bridge integration allows you to control an Android device or Amazon Fire TV device

### [Android TV Remote](https://www.home-assistant.io/integrations/androidtv_remote)

The Android TV Remote integration allows you to control an Android TV device by sending commands and launching apps

### [Bluetooth](https://www.home-assistant.io/integrations/bluetooth)

The Bluetooth integration will detect nearby Bluetooth devices.

### [Default Config](https://www.home-assistant.io/integrations/default_config)

This integration is a meta-component and configures a default set of integrations

### [Denon AVR Network Receivers](https://www.home-assistant.io/integrations/denonavr)

The denonavr platform allows you to control Denon Network Receivers

### [EcoBee](https://www.home-assistant.io/integrations/ecobee)

The ecobee integration lets you control and view sensor data from ecobee thermostats

(Also connected via HomeKit Controller integration for local control)

### [ESPHome](https://www.home-assistant.io/integrations/esphome)

Connect ESPHome devices directly with the native ESPHome API

### [File Size](https://www.home-assistant.io/integrations/filesize)

The filesize sensor is for displaying the size in MB of a file.

### [Forecast.Solar](https://www.home-assistant.io/integrations/forecast_solar)

The Forecast.Solar service provides solar production forecasting for your solar panel system, based on historic averages combined with weather forecasting

### [Glances](https://www.home-assistant.io/integrations/glances)

The glances integration allows you to monitor the system information provided by the Glances API

### [Google Cast](https://www.home-assistant.io/integrations/cast)

Google Cast integration

### [HomeKit Device](https://www.home-assistant.io/integrations/homekit_controller)

The HomeKit Device integration allows you to connect accessories with the “Works with HomeKit” logo to Home Assistant.

### [IQVIA](https://www.home-assistant.io/integrations/iqvia)

The iqvia sensor platform collects and displays allergy, asthma and disease information

### [InfluxDB](https://www.home-assistant.io/integrations/influxdb)

The influxdb integration makes it possible to transfer all state changes to an external InfluxDB database

### [Local Calendar](https://www.home-assistant.io/integrations/local_calendar)

The local calendar integration allows you to create a calendar of events for powering automations

### [Logitech Harmony](https://www.home-assistant.io/integrations/harmony)

The harmony remote platform allows you to control the state of your Harmony Hub Device

### [Meater](https://www.home-assistant.io/integrations/meater)

The Meater Smart Meat Thermometer integration allows for communicating with the Meater Temperature Probe from Apption Labs

### [MJPEG IP Camera](https://www.home-assistant.io/integrations/mjpeg)

The MJPEG IP Camera integration allows you to integrate IP cameras which are capable to stream their video with MJPEG (Motion JPEG)

### [Mobile App](https://www.home-assistant.io/integrations/mobile_app)

The Mobile App integration allows Home Assistant mobile apps to easily integrate with Home Assistant

### [Moon](https://www.home-assistant.io/integrations/moon)

The Moon integration tracks the phases of the moon

### [MQTT](https://www.home-assistant.io/integrations/mqtt)

Allows extremely lightweight publish/subscribe messaging transport

### [OpenGarage](https://www.home-assistant.io/integrations/opengarage)

The OpenGarage integration lets you control the open-source OpenGarage.io device

### [OpenWeatherMap](https://www.home-assistant.io/integrations/openweathermap)

The OpenWeatherMap weather integrations uses OpenWeatherMap as a source for current meteorological data for your location

### [Plex](https://www.home-assistant.io/integrations/plex)

The plex integration allows you to connect to a Plex Media Server

### [Proximity](https://www.home-assistant.io/integrations/proximity)

The proximity integration allows you to monitor the proximity of devices or persons to a particular zone and the direction of travel

### [Python Scripts](https://www.home-assistant.io/integrations/python_script)

This integration allows you to write Python scripts that are exposed as services

### [Rachio](https://www.home-assistant.io/integrations/rachio)

The Rachio platform allows you to control your Rachio irrigation system

### [Radio Browser](https://www.home-assistant.io/integrations/radio_browser)

The Radio Browser integration allows you to use the directory of radio stations collected on Radio Browser

### [RESTful Command](https://www.home-assistant.io/integrations/rest_command)

This integration can expose regular REST commands as services

### [Shell Command](https://www.home-assistant.io/integrations/shell_command)

This integration can expose regular shell commands as services

### [SNMP](https://www.home-assistant.io/integrations/snmp)

This is a standardized method for monitoring/managing network connected devices. SNMP uses a tree-like hierarchy where each node is an object.

This is used to get printer status data

### [Sony Playstation 4](https://www.home-assistant.io/integrations/ps4)

The PS4 integration allows you to control a Sony PlayStation 4 console

### [Spotify](https://www.home-assistant.io/integrations/spotify)

The Spotify media player integration allows you to control Spotify playback

### [SQL](https://www.home-assistant.io/integrations/sql)

The sql sensor platform enables you to use values from an SQL database supported by the sqlalchemy library, to populate a sensor state (and attributes)

### [Steam](https://www.home-assistant.io/integrations/steam_online)

The Steam integration will allow you to track the online status of public Steam accounts

### [Sun](https://www.home-assistant.io/integrations/sun)

The sun integration will use the location as configured to track if the sun is above or below the horizon

### [System Monitor](https://www.home-assistant.io/integrations/systemmonitor)

Monitors disk usage, memory usage, CPU usage, and running processes

### [Tasmota](https://www.home-assistant.io/integrations/tasmota)

This integration allows to control of Tasmota devices over MQTT

### [Text-to-Speech (TTS)](https://www.home-assistant.io/integrations/tts)

Text-to-Speech (TTS) enables Home Assistant to speak to you

### [Twinkly](https://www.home-assistant.io/integrations/twinkly)

The Twinkly integration allows you to control Twinkly LED string

### [UniFi Network](https://www.home-assistant.io/integrations/unifi)

The unifi integration allows you to connects to a UniFi controller and gather device tracking data

### [Uptime](https://www.home-assistant.io/integrations/uptime)

The uptime integration provides a sensor that stores the timestamp (date and time) when Home Assistant was last started

### [Utility Meter](https://www.home-assistant.io/integrations/utility_meter)

The Utility Meter integration provides functionality to track consumptions of various utilities (e.g., energy, gas, water, heating)

### [Version](https://www.home-assistant.io/integrations/version)

The Version integration can display the current Home Assistant Core versions

### [Vizio SmartCast](https://www.home-assistant.io/integrations/vizio)

The vizio integration allows you to control SmartCast-compatible TVs and sound bars

### [Wake on LAN](https://www.home-assistant.io/integrations/wake_on_lan)

The wake_on_lan integration enables the ability to send magic packets to Wake on LAN capable devices to turn them on

### [Withings](https://www.home-assistant.io/integrations/withings)

The Withings integration consumes data from various health products produced by Withings.

### [WLED](https://www.home-assistant.io/integrations/wled)

WLED is a fast and feature-rich implementation of an ESP8266/ESP32 webserver to control NeoPixel (WS2812B, WS2811, SK6812, APA102, and similar) LED's

### [Workday](https://www.home-assistant.io/integrations/workday)

The workday binary sensor indicates whether the current day is a workday or not

### [Yamaha MusicCast](https://www.home-assistant.io/integrations/yamaha_musiccast)

The Yamaha MusicCast integration allows you to control Yamaha MusicCast Receivers

### [Z-Wave JS](https://www.home-assistant.io/integrations/zwave_js)

The Z-Wave integration allows you to control a Z-Wave network via the [Z-Wave JS UI](https://zwave-js.github.io/zwave-js-ui) driver. This is the recommended Z-Wave integration for Home Assistant

---

</details>

{%- endif -%}

{%- if custom_components -%}
  {%- set custom_integrations = hacs_components | selectattr('category', '==', 'integration') | sort(attribute='name') %}
  {%- set plugins = hacs_components | selectattr('category', '==', 'plugin') | rejectattr('installed', '==', false) | sort(attribute='name') %}
  {%- set themes = hacs_components | selectattr('category', '==', 'theme') | sort(attribute='name') %}

<details><summary>{{ custom_integrations | count }} Custom Integrations</summary>
{%- for integration in custom_integrations -%}
  {%- set url = integration.documentation if integration.documentation != none -%}
  {%- set name = integration.name | replace('HACS', 'Home Assistant Community Store (HACS)') -%}
  {%- set description = integration.description -%}
  {%- set authors = integration.authors -%}
  {%- set codeowners = integration | selectattr('name', '==', integration.name) | map(attribute='codeowners') | join -%}
  {%- set version = '' -%}
  {%- if integration.last_version not in ['', none] -%}
    {%- set version = ' [v' ~ integration.last_version | replace('v', '') ~ ']' -%}
  {%- endif %}

### [{{ name | trim }}]({{ url | trim }}){{ version }}

{{ description | trim if description not in ['', none] }}
{%- if authors | count > 0 %}

Authors: {% for author in authors -%}[{{ author }}](https://github.com/{{ author | replace('@', '') }}){{ ', ' if not loop.last }}{%- endfor %}.{%- endif -%}
{%- endfor %}

---

</details>

<details><summary>{{ plugins | count }} Lovelace Plugins</summary>
{%- if plugins | count > 0 -%}
{%- for plugin in plugins -%}
  {%- set name = plugin.name | trim %}
  {%- set version = '' -%}
  {%- if plugin.installed_version not in ['', none] -%}
    {%- set version = ' [v' ~ plugin.installed_version | replace('v', '') ~ ']' -%}
  {%- endif %}

### [{{ name }}]({{ plugin.documentation | trim }}){{ version }}

{{ plugin.description | trim if plugin.description not in ['', none] }}
{%- endfor %}

---

</details>

{%- endif -%}

<details><summary>{{ themes | count }} Themes</summary>
{%- if themes | count > 0 -%}
{%- for theme in themes -%}
  {%- set name = theme.name | trim %}
  {%- set version = '' -%}
  {%- if theme.installed_version not in ['', none] -%}
    {%- set version = ' [v' ~ theme.installed_version | replace('v', '') ~ ']' -%}
  {%- endif %}

### [{{ name }}]({{ theme.documentation | trim }}){{ version }}

{{ theme.description | trim if theme.description not in ['', none] }}
{%- endfor %}

---

</details>

{%- endif -%}
{%- endif %}

## Devices

### Climate

- [EcoBee3 Thermostat](https://www.amazon.com/dp/B00ZIRV39M) - Smart Thermostat with [extra sensors](https://www.amazon.com/dp/B00NXRYOIQ/)

### Lighting

- [Aeotec Nano Dimmer](https://www.amazon.com/dp/B06XC4CH98) - Hard-wired into lamps with local control using a momentary switch on the metal frame of a lamp
- [DreamScreen](https://www.amazon.com/dp/B01M6UETVR/) (4K DIY) - Responsive LED Backlighting for Video, Music & Games
- [Govee Smart LED Floor Lamp](https://www.amazon.com/dp/B097T5YFZ3) - Nice white light (2200K-6500K) adjustable lamp
- [Honeywell 39348/ZW4005 Switch](https://www.amazon.com/Honeywell-Interchangeable-Repeater-Extender-Required/dp/B07B3LY1SJ)
- [Inovelli LZW30 Black Series On/Off Switch](https://support.inovelli.com/portal/en/kb/articles/products-switches-on-off-lzw30-spec-sheet)
- [Inovelli LZW30-SN Red Series On/Off Switch](https://support.inovelli.com/portal/en/kb/articles/products-switches-on-off-lzw30-sn-spec-sheet)
- [Inovelli VZM31-SN Blue Series Smart 2-1 Switch](https://inovelli.com/products/blue-series-smart-2-1-switch-on-off-or-dimmer)
- [Philips Hue White Ambiance](https://www.amazon.com/dp/B0753H5GKN)
- [WLED](https://github.com/Aircoookie/WLED) - DIY light strip
- [Zooz ZEN71 On-Off Switch](https://www.getzooz.com/zooz-zen71-on-off-switch/)

### Sensor

- [Aqara Door and Window Sensor](https://www.amazon.com/dp/B07D37VDM3)
- [Aqara Water Leak Sensor](https://www.amazon.com/dp/B07D39MSZS) - Detect water leaks
- [Dome Water Leak Sensor](https://www.amazon.com/dp/B01LXR0B8Q) - Detect water leaks
- [Emporia Vue 2](https://www.amazon.com/dp/B08CJGPHL9/) - Real Time Electricity Monitor/Meter
  flashed for local data with [custom firmware](https://gist.github.com/flaviut/93a1212c7b165c7674693a45ad52c512)
- [ESPHome](https://esphome.io) - DIY devices
  - Bluetooth proxy
  - Car presense
  - Soft water salt level sensor
- [OpenGarage](https://opengarage.io) - Opens, closes, and reads the status of my garage door as well detecting the presence of my car
- [Vision Z-Wave Plus Recessed Door and Window Sensor](https://www.amazon.com/dp/B01JNOCQL4)
- [Zooz 700 Series Z-Wave Plus 4-in-1 Sensor ZSE40](https://www.amazon.com/dp/B01AKSO80O)

### Switch

- [IKEA E1524/E1810 5-Button Remote Control](https://www.amazon.com/dp/B07KM1YZWW)
- [Leviton ZW4SF-1BW Smart 4 Speed Fan Controller](https://www.amazon.com/dp/B08GQJWSRG)
- [Philips Hue Dimmer Remote 324131092621](https://www.amazon.com/dp/B0167Z0P3I)
- [Rachio Sprinkler Controller](https://www.amazon.com/dp/B01D1NMLJU) - Smart Sprinkler controller
- [SONOFF S31 Lite 15A Zigbee Smart Plug](https://www.amazon.com/dp/B08Y87WD1X) -  Smart plug
- [Tasmota](https://tasmota.github.io/docs/) - Flashed devices
- [Zooz Titan Water Valve Actuator](https://www.thesmartesthouse.com/products/zooz-z-wave-plus-700-series-titan-water-valve-actuator-zac36) - Control the water main

### Camera

- [Amcrest AD410 Doorbell](https://www.amazon.com/dp/B091KMT9GB)
- [Wyze Cam v2](https://www.amazon.com/dp/B09XJ36RP2)

### Media

- [ChromeCast](https://www.google.com/chromecast/)
- [Google Home Mini](https://store.google.com/us/product/google_nest_mini)
- [Harmony Hub](https://www.logitech.com/en-us/products/harmony/harmony-hub.html)
- [MagicMirror](https://magicmirror.builders)
- [nVidia Shield](https://www.nvidia.com/en-us/shield/) (2015, 2017, and 2019 versions)
- [PlayStation 4 Pro](https://www.amazon.com/dp/B07K14XKZH)
- [Plex](https://plex.tv)
- [Vizio P-Series Quantum](https://www.vizio.com/en/tv/p-series-quantum)
- [Vizio P-Series Quantum X](https://www.vizio.com/en/tv/p-series-quantum-x)

### Network

- [Aeon Labs Z Wave Stick (GEN 5)](https://www.amazon.com/dp/B00X0AWA6E)
- [SONOFF Zigbee 3.0 USB Dongle Plus Gateway](https://sonoff.tech/product/diy-smart-switch/sonoff-dongle-plus/)
- [Ubiquiti Access Point WiFi 6 Pro](https://store.ui.com/collections/unifi-network-wireless/products/unifi-ap6-professional)
- [Ubiquiti Switch 24 PoE (250W)](https://store.ui.com/collections/unifi-network-switching/products/unifiswitch-24-250w)
- [Ubiquiti Switch 8](https://store.ui.com/collections/unifi-network-switching/products/unifi-switch-8)
- [Ubiquiti Switch Flex Mini](https://store.ui.com/collections/unifi-network-switching/products/usw-flex-mini)
- [Ubiquiti Unifi Security Gateway](https://store.ui.com/products/unifi-security-gateway)

### Security

- [Schlage Connect Lock](https://www.amazon.com/gp/product/B00OV49YXU) - Z-Wave controllable lock. Nice to give temp codes for guests or when you forget the keys

### Other

- [Aqara Pet Feeder C1](https://www.amazon.com/dp/B0B9XZ96PH) - Zigbee controlled pet feeder

## Automations

> For more details, see the [automations.xml][automations] file and `automation:` blocks in [integrations].
{% set automations = states | selectattr('domain', '==', 'automation') | sort(attribute='name') %}
<details><summary>{{ automations | count }} Automations</summary>
{% if automations | count > 0 -%}
{%- for automation in automations %}
- {{ automation.name | trim }}{{ ' (Disabled)' if automation.state == 'off' }}
{%- endfor %}
{%- endif %}

---

</details>

## Things to Consider Buying

- [433Mhz Transmitter and receiver](https://www.amazon.com/dp/B00M2CUALS) - For 433Mhz based devices
- LED RGB [Wifi Controller](https://www.amazon.com/dp/B01JZ2SI6Q) flux_led compatible with [LED Strip kits](https://www.amazon.com/dp/B01CUILC3I) - ~100 Feet
- [Withings](https://www.amazon.com/dp/B01F3LJ2RW) - Smart Weight scale
- [First Alert 2-in-1 Z-Wave Wireless Smoke Detector & Carbon Monoxide Alarm](https://www.amazon.com/gp/product/B00KMHXFAI)
- Aqara Zigbee devices: [Wireless Mini Switch](https://www.amazon.com/gp/product/B07D19YXND/), [Motion Sensor](https://www.amazon.com/gp/product/B07D1CRRVF/), [Temperature and Humidity Sensor](https://www.amazon.com/gp/product/B07D37FKGY/), [Door and Window Sensor](https://www.amazon.com/gp/product/B07D37VDM3/), [Water Leak Sensor](https://www.amazon.com/gp/product/B07D39MSZS/), [Vibration Sensor](https://www.amazon.com/gp/product/B07PJT939B/)

## Todo List

See the [issue queue](https://github.com/zanix/home-assistant-config/issues).

---

**All files are edited with [Visual Studio Code](https://code.visualstudio.com).**

**Configuration files are tested against the stable and beta versions of Home Assistant using [Github Actions](https://github.com/zanix/home-assistant-config/actions).**

Readme generated by the [custom readme integration](https://github.com/custom-components/readme)

[home-assistant]: https://home-assistant.io

[ha-version]: https://www.home-assistant.io/blog/categories/release-notes/
[ha-version-shield]: https://img.shields.io/badge/{{ states.update.home_assistant_core_update.attributes.installed_version }}-555555?style=flat-square&logo=home-assistant

[github-build-status-shield]: https://img.shields.io/github/actions/workflow/status/zanix/home-assistant-config/home-assistant.yaml?branch=master&style=flat-square&logo=github-actions&logoColor=838B95
[github-build-status]: https://github.com/zanix/home-assistant-config/actions/workflows/home-assistant.yaml

[github-last-commit]: https://img.shields.io/github/last-commit/zanix/home-assistant-config/master?style=flat-square&logo=github&logoColor=838B95
[github-master]: https://github.com/zanix/home-assistant-config/commits/master

[commits-shield]: https://img.shields.io/github/commit-activity/m/zanix/home-assistant-config/master?style=flat-square&logo=github&logoColor=838B95
[commits]: https://github.com/zanix/home-assistant-config/commits/master

[forum-shield]: https://img.shields.io/discourse/topics?style=flat-square&label=community&logo=discourse&color=46B4ED&logoColor=46B4ED&server=https%3A%2F%2Fcommunity.home-assistant.io
[forum]: https://community.home-assistant.io

[discord-shield]: https://img.shields.io/discord/330944238910963714?style=flat-square&color=7289da&label=discord&logo=discord
[discord]: https://discord.gg/c5DvZ4e

[automations]: https://github.com/zanix/home-assistant-config/blob/master/automations.yaml
[integrations]: https://github.com/zanix/home-assistant-config/tree/master/integrations
