---
# Ratgdo
# https://github.com/ratgdo/esphome-ratgdo

substitutions:
  name: ratgdov25i-eee2c1
  friendly_name: ratgdo

packages:
  ratgdo.esphome: github://ratgdo/esphome-ratgdo/v25iboard.yaml@main

esphome:
  name: ${name}
  name_add_mac_suffix: false
  friendly_name: ${friendly_name}

api:
  encryption:
    key: !secret encryption_key

wifi:
  ssid: !secret wifi_not_ssid
  password: !secret wifi_not_password
  power_save_mode: none
  fast_connect: true
